@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  background-color: #aec6cf;
}

body {
  display: flex;
  flex-direction: column;
}

/* nav rules */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: auto;
  background-color: #228b22;
  z-index: 15;
}

nav a img {
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  margin: auto;
  list-style-type: none;
}

.nav-links li a {
  font-weight: bold;
  color: #aec6cf;
  text-decoration: none;
}

/* splash rules */

#splash {
  width: 100%;
  height: 700px;
  margin: auto;
  background-image: url(/MC_Club/splash_main.png);
  background-position: center;
  background-size: cover;
}

.splash-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.splash-textbox img {
  width: 50%;
  min-width: 441px;
  min-height: 121px;
}

/* gallery rules */

.gallery {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.gallery img {
  max-width: 32%;
  margin: 20px;
}

/* quote rules */

.textbox {
  color: #aec6cf;
  background-color: #228b22;
}

.textbox h1 {
  font-weight: bold;
}

.textbox h3 {
  font-size: 1rem;
  font-style: italic;
}

.textbox h1,
h2,
h3 {
  position: relative;
  left: 15px;
}
